<section class="d-flex justify-content-center align-items-center" style="min-height: 68vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Change your password</h4>
          </div>
          <% flash.each do |key, value| %>
            <div id="flash-message" class="flash <%= key %> alert alert-danger bold text-black"><%= value %></div>
          <% end %>
          <div class="card-body">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f| %>
              <%= f.error_notification %>
              <%= f.input :reset_password_token, as: :hidden %>
              <%= f.full_error :reset_password_token %>
              <div class="form-inputs">
                <%= f.input :password,
                            label: "New password",
                            required: true,
                            autofocus: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            label: "Confirm your new password",
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Change my password" %>
              </div>
            <% end %>
            <div class="mt-3 text-center">
              <%- if controller_name != 'sessions' %>
                <%= link_to "Log in", new_customer_session_path %><br />
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var flashMessage = document.getElementById('flash-message');
    if (flashMessage) {
      setTimeout(function() {
        flashMessage.style.display = 'none';
      }, 5000); // Remove the flash message after 5 seconds

      document.addEventListener('click', function() {
        flashMessage.style.display = 'none';
      });
    }
  });
</script>