<!-- Seção de Apresentação -->
<div class="jumbotron text-center  bg-primary text-white">
  <div class="container">
    <h1 class="display-4">Alugue Equipamentos com Facilidade e Rapidez</h1>
    <p class="lead">Os melhores equipamentos ao seu alcance.</p>
    <%= link_to "Explore Equipamentos", list_equipament_path, class: "btn btn-light btn-lg mb-5", role: "button" %>
  </div>
</div>
<!-- Seção de Funcionalidades -->
<section class="container-fluid py-2">
  <div class="row text-center">
    <div class="col-md-3 mb-2">
      <i class="bi bi-box-seam fs-1 text-primary"></i>
      <h3>Aluguel Fácil</h3>
      <p>Encontre e alugue os melhores equipamentos de forma rápida e prática.</p>
    </div>
    <div class="col-md-3 mb-2">
      <i class="bi bi-journal-text fs-1 text-primary"></i>
      <h3>Gestão de Pedidos</h3>
      <p>Gerencie seus pedidos e acompanhe o status em tempo real.</p>
    </div>
    <div class="col-md-3 mb-2">
      <i class="bi bi-people fs-1 text-primary"></i>
      <h3>Cadastro de Clientes</h3>
      <p> <% if customer_signed_in? %>
            Cadastre seus dados e aproveite todas as vantagens.
          <% else %>
            <%= link_to "Cadastre seus dados e aproveite todas as vantagens.", new_customer_registration_path %> 
          <% end %> 
      </p>
    </div>
    <div class="col-md-3 mb-2">
      <i class="bi bi-tools fs-1 text-primary"></i>
      <h3>Equipamentos de Qualidade</h3>
      <p>Nossos equipamentos são de alta qualidade e bem conservados.</p>
    </div>
  </div>
</section>
<!-- Como Funciona -->
<section class="container-fluid  bg-light">
  <h2 class="text-center mb-4">Como Funciona</h2>
  <div class="row">
    <div class="col-md-3 text-center mb-4">
      <i class="bi bi-search fs-1 text-primary"></i>
      <h4>Pesquisar</h4>
      <p>Navegue pelos equipamentos disponíveis.</p>
    </div>
    <div class="col-md-3 text-center mb-4">
      <i class="bi bi-box-seam fs-1 text-primary"></i>
      <h4>Escolher</h4>
      <p>Selecione o equipamento que atende às suas necessidades.</p>
    </div>
    <div class="col-md-3 text-center mb-4">
      <i class="bi bi-calendar-check fs-1 text-primary"></i>
      <h4>Reservar</h4>
      <p>Escolha as datas e faça a reserva online.</p>
    </div>
    <div class="col-md-3 text-center mb-4">
      <i class="bi bi-tools fs-1 text-primary"></i>
      <h4>Usar</h4>
      <p>Receba o equipamento e utilize conforme necessário.</p>
    </div>
  </div>
</section>
<!-- Seção de Equipamentos Populares -->
<section class="bg-light ">
  <div class="container">
    <h2 class="mb-4 text-center">Equipamentos Populares</h2>
    <div class="row">
      <% @equipaments.each do |equipament| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="d-flex justify-content-center">
              <%= image_tag(equipament.image.variant(:thumb), class: "img-fluid img-thumbnail", style: "max-width: 250px; height: auto;", alt: "Imagem do Equipamento") %>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title text-center"><%= link_to equipament.name, details_equipament_path(equipament), class: "text-decoration-none text-primary" %></h5>
              <p class="card-text text-center">Diária: <%= number_to_currency(equipament.rent_value, unit: "R$ ", separator: ",", delimiter: ".") %></p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-text mb-0">Status: <%= equipament.status %></p>
                <a href="<%= new_rental_path(id: equipament.id) %>" class="btn btn-primary"><i class="fas fa-shopping-cart me-2"></i> Alugar</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Seção de Depoimentos de Clientes -->
<section class="container py-5">
  <h2 class="text-center mb-4">Depoimentos de Clientes</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <blockquote class="blockquote d-flex flex-column align-items-start">
        <div class="d-flex align-items-center mb-2">
          <%= image_tag('svg/man-5.svg', alt:"Avatar de João Silva", class:"rounded-circle me-3", width:"50", height:"50") %>
          <span class="text-center" >João Silva</span>
        </div>
        <p class="mb-0">Serviço excelente, equipamentos de alta qualidade!</p>
      </blockquote>
    </div>
    <div class="col-md-6 mb-4">
      <blockquote class="blockquote d-flex flex-column align-items-start">
        <div class="d-flex align-items-center mb-2">
          <%= image_tag('svg/woman-1.svg', alt:"Avatar de Maria Oliveira", class:"rounded-circle me-3", width:"50", height:"50") %>
          <span class=" text-center" >Maria Oliveira</span>
        </div>
        <p class="mb-0">Fácil de usar e suporte rápido. Recomendo!</p>
      </blockquote>
    </div>
  </div>
</section>