<section class="container">
  <div class="row justify-content-center">
    <% flash.each do |key, value| %>
      <div data-controller="flash-message" data-action="click->flash-message#removeMessage" id="flash-message" class="flash <%= key %> alert alert-success bold text-black" data-flash-message-target="message"><%= value %></div>
    <% end %>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h4>Pagamento</h4>
        </div>
        <div class="card-body" data-controller="payment">
          <%= simple_form_for payment,  html: { class: 'form-horizontal' } do |f| %>
            <%= hidden_field_tag :tot_rent_value, @order.tot_rent_value %>
            <%= hidden_field_tag :order_id, @order.id %>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="payment_method" class="form-label">Método de Pagamento:</label>
                <div class="form-check">
                  <%= f.radio_button :payment_method, 'cartao', class: 'form-check-input', data: { action: "payment#togglePaymentFields" } %>
                  <%= f.label :payment_method_cartao, 'Cartão de Crédito', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= f.radio_button :payment_method, 'pix', class: 'form-check-input', data: { action: "payment#togglePaymentFields" } %>
                  <%= f.label :payment_method_pix, 'PIX', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= f.radio_button :payment_method, 'boleto', class: 'form-check-input', data: { action: "payment#togglePaymentFields" } %>
                  <%= f.label :payment_method_boleto, 'Boleto', class: 'form-check-label' %>
                </div>
              </div>
            </div>
            <hr>
            <div id="credit-card-fields" class="d-none" data-payment-target="creditCardFields">
              <div class="row mb-3">
                <div class="col-md-6">
                  <%= f.input :card_number, label: 'Número do Cartão', input_html: { class: 'form-control', placeholder: '0000 0000 0000 0000' } %>
                </div>
                <div class="col-md-3">
                  <%= f.input :expiry_date, label: 'Data de Validade', input_html: { class: 'form-control', placeholder: 'MM/AA' } %>
                </div>
                <div class="col-md-3">
                  <%= f.input :cvv, label: 'CVV', input_html: { class: 'form-control', placeholder: '000' } %>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <%= f.input :card_holder_name, label: 'Nome no Cartão', input_html: { class: 'form-control', placeholder: 'Nome completo' } %>
                </div>
                <div class="col-md-6">
                  <%= f.input :cpf, label: 'CPF', input_html: { class: 'form-control', placeholder: '000.000.000-00' } %>
                </div>
              </div>
            </div>
            <div id="pix-fields" class="d-none" data-payment-target="pixFields">
              <div class="row mb-3">
                <div class="col-md-12">
                  <%= f.input :pix_key, label: 'Chave PIX', input_html: { class: 'form-control', placeholder: 'Digite a chave PIX' } %>
                </div>
              </div>
            </div>
            <div id="boleto-fields" class="d-none" data-payment-target="boletoFields">
              <div class="row mb-3">
                <div class="col-md-6">
                  <%= f.input :boleto_name, label: 'Nome', input_html: { class: 'form-control', placeholder: 'Nome completo' } %>
                </div>
                <div class="col-md-6">
                  <%= f.input :boleto_cpf, label: 'CPF', input_html: { class: 'form-control', placeholder: '000.000.000-00' } %>
                </div>
                <div class="col-md-12">
                  <%= f.input :boleto_email, label: 'E-mail', input_html: { class: 'form-control', placeholder: 'email@example.com' } %>
                </div>
                <div class="col-md-6">
                  <%= f.input :boleto_address, label: 'Endereço', input_html: { class: 'form-control', placeholder: 'Rua, número, bairro' } %>
                </div>
                <div class="col-md-3">
                  <%= f.input :boleto_city, label: 'Cidade', input_html: { class: 'form-control', placeholder: 'Cidade' } %>
                </div>
                <div class="col-md-3">
                  <%= f.input :boleto_zipcode, label: 'CEP', input_html: { class: 'form-control', placeholder: '00000-000' } %>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <%= link_to 'Cancelar', list_equipament_path, class: 'btn btn-secondary' %>
              <%= f.button :submit, "Confirmar Pagamento", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
