<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>EasyRent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
      body {
        margin: 0;
        padding-bottom: 60px; /* Espaço para o rodapé */
      }
      .content {
        padding-bottom: 60px; /* Espaço para o rodapé */
      }
      .footer {
        height: 60px; /* Altura do rodapé */
        line-height: 60px; /* Centraliza o texto verticalmente */
        background-color: #f8f9fa; /* Cor de fundo do rodapé */
      }
    </style>
  </head>
  <body id="kt_body" class="header-fixed header-tablet-and-modbile-fixed toolbar-enabled" data-turbo="false" >
    <%= render "shared/header_admin" %>
    <div class="mt-5">
      <%= yield %>
    </div>
    <%= render "shared/footer_admin" %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


  </body>
</html>
